# ignore build folder
build/

# ignore docs
doc/

# ignore externalLibs
externalLibs/

# ignore clang files
.clang*

# ignore my test files
*.test*

# ignore cmake testing folder if it ever appears
Testing/

# ignore out folder for images/files created by tests and programs
out/

# SceneData
SceneData/